body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  color: #888888;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
.wrapper {
  background-image: url(img/haze-2267176.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
}


/* -----------------------------PC---------------------------------*/
/*-- header --*/

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
}


.header-title {
  font-family: 'Rajdhani', sans-serif;
  margin-left: 60px;
  font-size: 30px;
  color: #888888;
}

.header-title a {
  text-decoration: none;
  color: #888888;
}

.header-title a:hover {
  opacity: 0.5;
  transition: 0.8s;
}

.header-list {
  list-style: none;
  width: 500px;
  font-size: 27px;
  margin-right: 60px;
  padding: 0;
}

.header-lists {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-lists a {
  text-decoration: none;
  color: #888888;
  font-weight: bold;
}

.header-lists a:hover {
  opacity: 0.5;
  transition: 1.0s;
}

.menu-btn,
.menu {
  display: none;
}

/** Main **/
.main {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.main-title {
  font-size: 50px;
  margin: 0;
}

.main-title h1 {
  margin: 0;
}

/** Footer **/

footer {
  color: #888888;
  height: 100px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p {
  margin: 0;
  font-size: 15px;
}


.icon {
  display: flex;
  justify-content: space-around;
  width: 200px;
  font-size: 25px;
  padding: 25px 0;
  align-items: center;
  margin: 0 auto;
}

.icon-color {
  color: #888888;
}



/* -----------------------------タブレット---------------------------------*/

@media screen and (max-width:1024px) {
  /*-- header --*/
  body {
    overflow-x: scroll;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .header-title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 35px;
    color: #888888;
    margin: 0 auto;
  }

  .header-title a {
    text-decoration: none;
    color: #888888;
  }

  .header-list {
    display: none;
  }

  .menu-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #888888;
    color: #fff;
  }


  .menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #bbbbbb;
    opacity: 0.9;
  }

  .menu_item {
    width: 100%;
    height: auto;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

  .menu_item li {
    padding: 20px 0;
  }

  .menu_item a {
    text-decoration: none;
    color: #888888;
    font-size: 4vh;
  }

  .menu{
    transform: translateX(100vw);
    transition: all .3s linear;
  }

  .menu.is-active{
    transform: translateX(0);
  }

}
